.navBar, .navHome {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #dc2f02;
    color: white;
    font-family: 'Formula Condensed', sans-serif;
    padding: 10px;
}

.navBar a, .navHome a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.img {
    width: 100px;
    position: absolute;
    top: 7px;
    left: 50px;
}

.createDriverLink {
    background-color: #9b9b9b;
    color: #ffffff;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.createDriverLink:hover {
    background-color: #202021;
    color: white;
}